.main {
}

.loginDiv {
}
.left_Section {
  background: url("../../../../public/images/rocket_launch_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
